* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#img_avatar {
    border: #34b679 3px solid;
    border-radius: 33px;
    width: 39%;
}
.content {
    margin: 1.99%;
}
.content h2 {
    margin-bottom: 5%;
    text-align: center;
}
#presentation {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}
#header_img {
    margin-bottom: 1%;
    position: relative;
    z-index: -2;
    width: 100%;
}
table {
    margin-top: 3%;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 2px solid #646464;
    text-align: center;
    padding: 1%;
}
td {
    border: 2px solid #646464;
    text-align: left;
    padding: 1%;
}
li {
    margin-top: 1.33%;
}
#nav_links {
    display: flex;
    flex-wrap: wrap;
}
p { margin-bottom: 1%; }

.title { font-size: 17pt; }