@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply font */
@font-face {
  font-family: "Nunito-Regular";
  src:
    local("Nunito-Regular"),
    url(../assets/fonts/nunito_regular.ttf) format("truetype");
}
* {
  font-family: "Nunito-Regular";
}

@layer base {
  ::-webkit-scrollbar-thumb {
    @apply bg-transparent shadow-sm;
  }
  ::-webkit-scrollbar {
    @apply w-3 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-emerald-600;
  }
}

@layer components {
  /* NAVBAR */
  .left_menu {
    @apply invisible md:visible fixed h-full left-0 rounded-tr-full shadow-md flex flex-col justify-around items-center p-3 text-emerald-700 dark:text-emerald-100 bg-emerald-50 dark:bg-gray-700 border-2 dark:border-emerald-700 border-emerald-300;
  }

  /* FOOTER */
  .footer {
    @apply fixed bottom-0 w-full left-0 shadow-md flex justify-between rounded-tr-xl p-3 h-20 text-xs text-emerald-700 dark:text-emerald-100 bg-emerald-50 dark:bg-gray-700 border-b-2 border-l-2 dark:border-emerald-700 border-emerald-300;
  }

  /* CONTAINER BASE */
  .container_base {
    @apply text-xs md:text-base bg-emerald-100 text-emerald-900 rounded-xl shadow-md dark:bg-gray-700 dark:text-emerald-50 border-2 dark:border-emerald-700 border-emerald-300;
  }

  /* CONTAINER BASE */
  .space_bar {
    @apply bg-emerald-100 text-emerald-900 shadow-md dark:bg-emerald-800 dark:text-emerald-100 border dark:border-emerald-700 border-emerald-300;
  }

  /* CONTAINER BASE */
  .border_base {
    @apply border-2 dark:border-emerald-700 border-emerald-300;
  }

  /* BODY BASE */
  .base_body {
    @apply bg-gray-300 text-black dark:bg-gray-800 dark:text-white;
  }

  /* BASE BUTTONS */
  .base_button {
    @apply border dark:border-emerald-800/5 dark:hover:bg-emerald-700 dark:hover:border-emerald-500 border-emerald-100/5 hover:bg-emerald-200 hover:border-emerald-300 duration-200 p-2 rounded-xl;
  }
}
